.container {
  position: relative;

  .credit {
    padding: 1px 0px;
    position: absolute;
    z-index: 99999;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    text-align: right;
    opacity: 0.25;
    pointer-events: none;

    b {
      font-weight: 900;
    }

    .suika {
      width: 140px;
    }
  }
}

