.grid {
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-content: flex-start;
  
  gap: 10px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}
